{% extends "main_app/base.html" %}
{% load staticfiles %}
{% block body_class %}leftMenu nav-collapse{% endblock %}

{% block body %}
<div id="wrapper">
    <!--
    /////////////////////////////////////////////////////////////////////////
    //////////     HEADER  CONTENT     ///////////////
    //////////////////////////////////////////////////////////////////////
    -->
    <div id="header">
        <div class="logo-area clearfix">
                <a href="#" class="logo"></a>
        </div>
        <!-- //logo-area-->

        <div class="tools-bar">
            <ul class="nav navbar-nav nav-main-xs">
                <li><a href="#" class="icon-toolsbar nav-mini"><i class="fa fa-bars"></i></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right tooltip-area">
                <li>
                    <a data-toggle="modal" href="#md-notification" class="avatar-header">
                        <img alt="" src="{% static 'main_app/img/avatar.png' %}" class="circle">
                        <span class="badge" id="notification-count-badge"></span>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                        <em><strong>Hi</strong>, {{ user }} </em><i class="dropdown-icon fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu pull-right icon-right arrow">
                            <li><a href="#"><i class="fa fa-user"></i>Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout_view' %}"><i class="fa fa-sign-out"></i>Signout</a></li>
                    </ul>
                    <!-- //dropdown-menu-->
                </li>
            </ul>
        </div>
        <!-- //tools-bar-->
    </div>
    <!-- //header-->

    <!--
    /////////////////////////////////////////////////////////////////////////
    //////////     MAIN SHOW CONTENT     //////////
    //////////////////////////////////////////////////////////////////////
    -->
    <div id="main">
        {% block main_content %}
            <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
            </ol>
            <!-- //breadcrumb-->

            <div id="content">

                    <div class="row">

                            <div class="col-lg-8" ></div>
                            <!-- //content > row > col-lg-8 -->

                            <div class="col-lg-4"></div>
                            <!-- //content > row > col-lg-4 -->

                    </div>
                    <!-- //content > row-->

            </div>
            <!-- //content-->

        {% endblock main_content %}
    </div>
    <!-- //main-->

    <!--
    /////////////////////////////////////////////////////////////////////////
    //////////     FOOTER     //////////
    //////////////////////////////////////////////////////////////////////
    -->
    <footer id="site-footer" class="fixed hidden-xs">
        <section>
        <!-- START Copyright -->
        <div id="copyright">
            <p>&copy; Copyright  2014 // <a href="http://neelabhgupta.com/" class="link-1">Neelabh Gupta</a> and <a href="http://anantsingh.me/" class="link-1">Anant Singh</a></p>
            <div class="social-bar">
                <a href="#" class="icon tip"><i class="fa fa-facebook"></i> <span>Find us on Facebook</span></a>
                <a href="#" class="icon tip"><i class="fa fa-twitter"></i> <span>Tweet with us</span></a>
                <a href="#" class="icon tip"><i class="fa fa-google-plus"></i> <span>Find us on Google</span></a>
                <a href="#" class="icon tip"><i class="fa fa-linkedin"></i> <span>Meet up on Linkedin</span></a>
            </div>
        </div>
        <!-- END Copyright -->
        </section>
    </footer>

    <!--
    //////////////////////////////////////////////////////////////////////////
    //////////     MODAL NOTIFICATION     //////////
    //////////////////////////////////////////////////////////////////////
    -->
    <div id="md-notification" class="modal fade md-stickTop bg-danger" tabindex="-1" data-width="500">
        <div class="modal-header bd-danger-darken">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title"><i class="fa fa-bell-o"></i> Notifications</h4>
        </div>
        <!-- //modal-header-->
        <div class="modal-body" style="padding:0">
            <div class="widget-im notification">
                <ul id="notification-list">

                </ul>
            </div>
            <!-- //widget-im-->
        </div>
        <!-- //modal-body-->
    </div>
    <!-- //modal-->

    <!--
    //////////////////////////////////////////////////////////////
    //////////     LEFT NAV MENU     //////////
    ///////////////////////////////////////////////////////////
    -->
    <nav id="menu" data-search="close">
        <ul>
            <li><a href="{% url 'messaging:inbox' %}"><i class="icon fa fa-book"></i>Courses</a></li>
            <li><a href="{% url 'messaging:inbox' %}"><i class="icon fa fa-envelope"></i>Messages</a></li>
            <li><a href="{% url 'messaging:inbox' %}"><i class="icon fa fa-calendar-o"></i>Calendar</a></li>
        </ul>
    </nav>
    <!-- //nav left menu-->
</div>
<!-- //wrapper-->
{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="{% static 'notifications/js/notifications.js' %}"></script>
    <script type="text/javascript">
        GradelyNotification('notification-list', 'notification-count-badge', '{% url 'notifications:get_notifications' %}');
    </script>

    {# Can be filled in by child templates #}
    {% block js %}
    {% endblock js %}
{% endblock custom_js %}
