{% extends "main_app/layout.html" %}
{% load staticfiles %}
{% block title %}Profile{% endblock title %}

{% block main_content %}
    <div id="overview">
        <div class="row">
            <div class="col-sm-9">
                <section class="profile-cover">
                    <div class="profile-avatar">
                        <div>
                            <img alt="" src="{% static 'main_app/img/avatar5.png' %}" class="circle">
                            <span>{{ user.first_name }} {{ user.last_name }}</span>
                        </div>
                    </div>
                    <div class="profile-status">
                        <a class="btn"> 0
                            <small>Courses</small>
                        </a>
                        <a class="btn"> 0
                            <small> Students</small>
                        </a>
                    </div>
                </section>
            </div>
            <!-- //content > row > col-sm-9 -->

            <div class="col-sm-3">
                <section class="profile-about">
                    <h3>About</h3>
                    <hr>
                    <p></p>
                </section>
            </div>
            <!-- //content > row > col-lg-3 -->
        </div>
        <!-- //row-->
    </div>
{% endblock main_content %}

{% block js %}
<script type="text/javascript">
    $(function () {
        $(".timeline-show").click(function () {
            setTimeout(function () {
                $(".widget-timeline").capletTimeline();
            }, 400);
        });
        // Initialize box isotope
        var $container = $('.box-feed');
        var $filter = $('.box-filter');

        $(".portfolio-show").click(function () {
            if (!$container.hasClass("isotope")) {
                setTimeout(function () {
                    $container.isotope({
                        filter: '*',
                        layoutMode: 'fitRows',
                        animationOptions: {  duration: 750, easing: 'linear' }
                    });
                }, 400);
            }
        });
        $filter.find('a').click(function () {
            var selector = $(this).attr('data-filter');
            $filter.find('a').removeClass('active');
            $(this).addClass('active');
            $container.isotope({
                filter: selector,
                animationOptions: { animationDuration: 750, easing: 'linear', queue: false  }
            });
            return false;
        });
    });

</script>
{% endblock js %}