{% extends "main_app/layout.html" %}
{% load staticfiles %}
{% block title %}Create Course{% endblock title %}

{% block main_content %}
    <div id="md-normal" class="modal fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title">Create Course</h4>
        </div>
        <div id="course-add-form-div" class="modal-body">
        </div>
    </div>
    <div class="col-lg-1">
        <button id="course-add-btn" class="btn btn-theme btn-block" data-toggle="modal" data-target="#md-normal">Create Course</button>
    </div>

{% endblock main_content %}

{% block js %}
    <script type="text/javascript">
        $(function() {
            $("#course-add-btn").click(function() {
                $('.errorlist').hide();
                $('#course-create-form').find("input[type=text], textarea").val("");
            });

            $.ajax({
                type: "GET",
                url: "{% url 'courses:create_course' %}",
                success: function (data) {
                    $("#course-add-form-div").html(data);
                    // adapted from http://stackoverflow.com/a/7336591
                    var frm = $('#course-create-form');
                    frm.submit(function() {
                        $.ajax({
                            type: frm.attr('method'),
                            url: frm.attr('action'),
                            data: frm.serialize(),
                            success: function (data) {
                                $("#course-add-form-div").html(data);
                                if ($("#course-form-status").text() == 'True') {
                                    $('#md-normal').modal('hide');
                                    $.notific8("Course added successfully",
                                        { life: 5000, horizontalEdge: "bottom", theme: "success", heading: "SUCCESS"});
                                }
                            },
                            error: function(data) {
                                $.notific8("Connection error.",
                                        { life: 5000, horizontalEdge: "bottom", theme: "danger", heading: "ERROR"});
                            }
                        });
                        return false;
                    });
                },
                error: function(data) {
                    $.notific8("Connection error.",
                            { life: 5000, horizontalEdge: "bottom", theme: "danger", heading: "ERROR"});
                }
            });
        });
    </script>
{% endblock js %}