{% if not notifications %}
    <div id="notification-count" style="display: none;">0</div>
    <li>
        <br>
        <div class="pre-text align-lg-center">No new notifications</div>
        <br>
    </li>
{% else %}
    <div id="notification-count" style="display: none;">{{ notifications | length }}</div>
    {% for notification in notifications %}
        <li>
            <section class="thumbnail-in">
                <div class="widget-im-tools tooltip-area pull-right">
                    <span><time class="timeago" datetime="{{ notification.date_time }}">{{ notification.date_time }}</time></span>
                </div>
                <h4><a onclick="mark_as_read({{ notification.pk }}); window.location.href = '{{ notification.more_url }}';" href="#">{{ notification.heading }}</a></h4>
                <div class="im-thumbnail bg-theme"><i class="fa fa-bell-o"></i></div>
                <div class="pre-text">{{ notification.message_text }}</div>
            </section>
        </li>
    {% endfor %}
{% endif %}
